<html>
    <header>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </header>
    <body style="height: 100%; width: 100%;">
        <div class="card text-center h-100">
            <div class="card-header">
                <span>List app</span>
            </div>
            <div class="card-body">
                <h5 class="card-title">Nowa lista udostępniona </h5>
                a(class='btn btn-primary' href=url) Otwórz listę
            </div>
        </div>
    </body>
</html>